@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@import "./styles/theme/index.css";

:root {
  --navbar-height: 0px;
  --mobile-nav-height: 56px;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 76px;
    --mobile-nav-height: 0px;
  }
}

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
  html {
    @apply font-sans;
  }
}